html, body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
  }
  #draw{
   border: 2px solid rgb(169, 223, 88);
   background-color: rgb(162, 226, 67);;
  }

  #restart{
    border: 2px solid rgb(224, 104, 104);
    background-color:rgb(235, 92, 92);
  }
  #marker{
border: 2px solid rgb(136, 136, 219);
background-color: rgb(121, 121, 207);
  }
  .map-container {
    width: 55%;
    height: 450px;
    border-radius: 1rem;
    border: solid 10px white;
    box-shadow: 0 12.5px 10px rgba(0, 0, 0, 0.035),
    0 100px 80px rgba(0, 0, 0, 0.07);
  }
  
  .marker {
    width: 50px;
    height: 50px;

    background-image: url("./assets/carro-deportivo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .box-inputs {
    background-color: white;
    width: 58%;
    border-radius: .5rem;
    border: solid 2px #00000008;
    padding: 1rem;
    box-shadow: 0 12.5px 10px rgba(0, 0, 0, 0.035),
    0 100px 80px rgba(0, 0, 0, 0.07);
  }
  
  .mock-input {
    background: white;
    padding: .5rem;
    margin-bottom: .5rem;
    box-shadow: 0 0 10px #0000001a;
    color: #808080;
    min-height: 18px;
  }
  
  .mock-label {
    padding: .25rem;
    font-weight: 600;
  }
  
  .geocoder {
    margin-bottom: .5rem;
  }
  .mapboxgl-ctrl-group{


  }
  .geocoder, .mapboxgl-ctrl-geocoder {
    z-index: 100;
    width: 100%;
    max-width: 100%;
    border-radius: 0;
    background-color: white;
  }
  .con{
    display: flex;

    button{
      margin-left: 5px;
      width: 13%;
      height: 2.3rem;
      background-color: white;
    
      border: solid 2px gray;
      cursor: pointer;
    }
  }
  .active-way {
    border: solid 2px #09c509;
    box-shadow: 0 0 10px #09c5094a;
  }
  
  .btn-route {
    font-size: 16px;
    font-weight: 500;
    padding: .5rem 1rem;
border-radius: 4px;
    width: 8rem;
    cursor: pointer;
    margin-left: 50px;
  }
  
  .wrapper{
    padding: 2rem;
    display: flex;
    justify-content: center;
  }
  .marker-btn{
    margin-left: 50px;
  }
  .titulo{
    font-size: 50px;
    margin-top: 40px;
    text-align: center;
  }

  .fields{
    display: flex;
    justify-content: center;
    align-items: center;
    border:2px solid black;
    width: 320px;
    padding: 5px;
    border-radius: 7px;
    height: 50px;
    margin: 10px auto;
  }